# Ignore lib files
lib/

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
node_modules/

# ignore package-lock.json
package-lock.json